In [1]:
import os
import sys

STOCKA_BASE_DIR = "/home/zzy/projects/stocka"
sys.path.insert(0, STOCKA_BASE_DIR)

from datetime import date
from quant_framework.data.data_handler import DataHandler

In [2]:
data_handler = DataHandler(
    db_path=os.path.join(STOCKA_BASE_DIR, 'data/stock.db'),
    table_name='stock_prices',    
)

In [4]:
data_handler.get_daily_data("2026-02-03")

,code,date,open,high,low,close,volume,amount,outstanding_share,turnover
0,601599,2026-02-03,15.10,16.02,15.10,15.43,138252700.0,6.536124e+08,1.160542e+09,0.119128
1,600985,2026-02-03,59.99,61.14,59.59,60.84,22661367.0,2.729424e+08,2.693259e+09,0.008414
2,600609,2026-02-03,130.49,131.05,129.39,130.77,12923952.0,6.080887e+07,1.304559e+09,0.009907
3,002700,2026-02-03,44.18,46.03,43.94,45.79,16804915.0,1.235492e+08,2.634649e+08,0.063784
4,000066,2026-02-03,183.55,190.73,182.04,189.57,148335535.0,2.392200e+09,3.225590e+09,0.045987
...,...,...,...,...,...,...,...,...,...,...
3052,603706,2026-02-03,27.43,27.60,27.10,27.28,1170248.0,2.430861e+07,1.893827e+08,0.006179
3053,600603,2026-02-03,1192.72,1201.98,1183.46,1200.12,5636787.0,3.631561e+07,1.193329e+09,0.004724
3054,002818,2026-02-03,31.66,31.96,31.41,31.96,3164133.0,3.648608e+07,2.983572e+08,0.010605
3055,002607,2026-02-03,23.02,23.92,22.93,23.76,200562642.0,5.678963e+08,5.083997e+09,0.039450
3056,600778,2026-02-03,30.72,30.80,30.05,30.22,15699900.0,1.139966e+08,3.112149e+08,0.050447

In [8]:
data_handler.get_data_range(['000001'], '2026-01-01', '2026-01-15')

,code,date,open,high,low,close,volume,amount,outstanding_share,turnover
0,000001,2026-01-05,1666.45,1679.59,1664.99,1678.13,87549118.0,1.003479e+09,1.940560e+10,0.004512
1,000001,2026-01-06,1678.13,1704.39,1675.21,1702.93,130464842.0,1.512912e+09,1.940560e+10,0.006723
2,000001,2026-01-07,1701.48,1724.82,1695.64,1698.56,96623624.0,1.131166e+09,1.940560e+10,0.004979
3,000001,2026-01-08,1698.56,1700.02,1676.67,1679.59,110008511.0,1.268647e+09,1.940560e+10,0.005669
4,000001,2026-01-09,1682.51,1682.51,1669.37,1672.29,98339004.0,1.128077e+09,1.940560e+10,0.005068
5,000001,2026-01-12,1670.83,1676.67,1666.45,1675.21,85521298.0,9.797001e+08,1.940560e+10,0.004407
6,000001,2026-01-13,1675.21,1683.96,1669.37,1673.75,106154122.0,1.219756e+09,1.940560e+10,0.005470
7,000001,2026-01-14,1673.75,1673.75,1656.24,1657.70,127475714.0,1.454417e+09,1.940560e+10,0.006569
8,000001,2026-01-15,1653.32,1659.16,1648.94,1650.40,88495977.0,1.002515e+09,1.940560e+10,0.004560